.add-task {
  margin-left: 3.5vw;
}
.add-task-input {
  margin-top: -5vh;
  width: 40vw;
  font-size: 5vh;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

.add-task-input:focus {
  outline: none;
}

.add-task-btn {
  background: transparent;
  border: transparent;
  font-size: 5vh;
  cursor: pointer;
  width: 2vw;
  color: white;

  border-bottom: 1px solid white;
}

.error {
  /* text-align: center; */
  font-size: 2.5vh;
  margin-top: 1vh;
  height: 2.5vh;
  margin-bottom: 1.3vh;
  margin-left: 20%;
}

@media only screen and (max-width: 900px) {
  .error {
    margin-left: 15%;
  }
}
